<!DOCTYPE html>
<html>
<head>
	<title>Landing Page</title>
</head>
<body>


<h1><strong><u>Product List</u></strong></h1><br>

<a href="/products/new">Add New Product</a><br>
<a href="/comments">Show All Comments</a><br><br>

<table class="table table-condensed table-responsive">
	<thead>
		<tr>
			<td><u>Name</u></td>
			<td><u>Description</u></td>
			<td><u>Price</u></td>
			<td><u>Category</u></td>
			<td><u>Action</u></td>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.description %></td>
			<td><%= number_to_currency(product.pricing) %></td>

			<td><%= product.category.name %></td>

			<td>
				<a href="/products/<%= product.id %>"><button class="btn btn-info">SHOW</button></a>
				<a href="/products/<%= product.id %>/edit"><button class="btn btn-warning">EDIT</button></a>
				<form action="/products/<%= product.id %>" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="_method" value="delete"><input class="btn btn-danger" type="submit" value="Destroy">
				</form>
			</td>
		</tr>
		<% end %>
	</tbody>
</table><br>


</body>
</html>
