<h1><strong>Showing <u><%=  @product.name %></u> </strong></h1>

<p>Name: <%= @product.name  %></p>
<p>Description: <%= @product.description  %></p>
<p>Category: <%= @product.category.name  %></p>
<p>Price: <%= @product.pricing  %></p>

<a href="/products/<%= @product.id %>/edit"><button class="btn btn-warning">Edit</button></a> | <a href="/products"><button class="btn btn-default">Back</button></a>

<h3>Comments: </h3>
<form method="post" action="/comments">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="product_id" value="<%= @product.id %>">
	<textarea name="comment[comment]"></textarea>
	<input class="btn btn-primary" type="submit" value="Post">

</form>


<% @comments.each do |comment| %>
	<p> <%=  comment.comment %> | <%= comment.created_at %> </p>

<form method="post" action="/comments/<%= comment.id %>">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="_method" value="delete">
	<input type="hidden" name="product_id" value="<%= @product.id%>">
	<input class="btn btn-danger" type="submit" value="Destroy">

</form>

<% end %>

